{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spacify | New post</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static '/css/bulma.min.css' %}">
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="{% static 'images/spacify  logo.png' %}" width="43" height="0"><p class="subtitle is-5">Spacify</p>
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="{% url 'dashboard' %}" class="navbar-item">
            <i class="material-icons">home</i>
            &nbsp; Home
          </a>
    
          <a class="navbar-item">
            <i class="material-icons">explore</i>
            &nbsp; Explore
          </a>
    
          <a class="navbar-item">
            <i class="material-icons">notifications</i>
            &nbsp; Notifications
          </a>
          
          <a href="/messages" class="navbar-item">
            <i class="material-icons">message</i>
            &nbsp; Messages
          </a>
    
          <a href="{% url 'profile' request.user %}" class="navbar-item">
            <i class="material-icons">person</i>
            &nbsp; {% if user.is_authenticated and user == request.user %}My {% endif %} {% if user.is_authenticated and user != request.user %}{{ profile.user }}'s {% endif %} Profile
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <i class="material-icons">settings</i>
              &nbsp; Settings
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                <i class="material-icons">pin</i>
                &nbsp; Change password
              </a>
              <a class="navbar-item">
                <i class="material-icons">contact_mail</i>
                &nbsp; Contact
              </a>
              <a class="navbar-item">
                <i class="material-icons">report</i>
                &nbsp; Report an issue
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <p class=" is-secondary" style="margin-right: 80px; position: relative;">
              <strong>Welcome - {{ request.user }}</strong>
            </p>
            <div class="buttons">
              <a href="{% url 'newpost' %}" class="button is-light">
                <i class="material-icons">add_circle</i>
                <strong>New post</strong>
              </a>
              <a href="{% url 'logout' %}" class="button is-primary">
                <i class="material-icons">logout</i>
                <strong>Log out</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <div class="columns is-mobile has-text-centered">
          <div class="column is-half is-offset-one-quarter">
            <div class="card">
              <div class="card-content">
                <form method="post" enctype="multipart/form-data" action="" role="form">
                  {% csrf_token %}
                  <h3 class="title is-2">Create a new post</h3>
                    <div class="field">
                      <p class="control has-icons-left">
                        <label class="label is-medium">Choose a picture</label>
                        {{ form.picture }}
                        <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                        </span>
                      </p>
                    </div>
                    <div class="field">
                      <p class="control has-icons-left">
                        <label class="label is-medium">Caption</label>
                        {{ form.caption }}
                        <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                        </span>
                      </p>
                    </div>
                    <div class="field">
                      <p class="control has-icons-left">
                        <label class="label is-medium" title="For multiple tags seperate with /','">Tags</label>
                        {{ form.tags }}
                        <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                        </span>
                      </p>
                    </div>
                    <div class="field">
                      <p class="control">
                        <button type="submit" name="action" class="button is-success">
                          Create post
                        </button>
                      </p>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>